# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/
*.env

# Logs
logs/
*.log

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/

# Build / cache
*.egg-info/
dist/
build/

# Ignore HDX Python environment
D:/HDX_env/Python311/

# Temporary files
*.tmp
